.container-skills {
    background-image: url(../../images/ColoredPatterns.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.title-section-skills {
    font-family: var(--font1);
    text-align: center;
    margin-top: 20px;
    padding: 30px;
}

/* ===>>> SCREEN MOBILE/TABLET <<<=== */
