.call-action-mobile {
    display: none;
}

/* ===>>> SCREEN MOBILE <<<=== */
@media (max-width: 992px) {
    .call-action-mobile {
        display: block;
        background-image: url(../../images/patter_services.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}