.container-call-action {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* ===>>> SCREEN TABLET/MOBILE <<<=== */

@media (max-width: 992px) {
    .container-call-action{
        position: absolute;
        left: 5%;
        display: block;
    }
}

@media (max-width: 768px) {
    .container-call-action{
        position: absolute;
        top: 60%;
        left: 5%;
        display: block;
    }
}