footer {
    background-image: url(../../images/Cloudy_footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
    position: absolute;
    top: 2710px;
    display: flex;
    justify-content: center;
    align-items:end;
}

/* ===>>> SCREEN TABLET <<<=== */
@media (min-width: 769px) and (max-width: 1115px) {
   footer {
    top: 3100px;
   }
}

/* ===>>> SCREEN MOBILE <<<=== */
@media (max-width: 768px) {
    footer {
        top: 2700px;
    }
}