.subscrition-frm {
    /* background-image: url(../../../images/Cloudy_subscription.svg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: var(--color5);
    width: 30%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
}
.fa-circle-xmark {
    position: absolute;
    font-size: x-large;
    top: -10px;
    left: -10px;
    background-color: var(--color5);
    border-radius: 50%;
    color: var(--color1);
}
.fa-circle-xmark:hover {
    cursor: pointer;
    color: var(--color2);
    font-weight: bolder;
}
.header-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 10px auto;
    background-color: var(--color5);
}
.image-header-subscription {
    width: 50%;
}
.title-modal-subscription {
    width: 90%;
    margin: 10px auto 10px auto;
    font-family: var(--font2);
    font-weight: bolder;
    text-align: center;
}
.subtitle-modal-subscription {
    width: 90%;
    margin: 0px auto 20px auto;
    font-family: var(--font4);
    text-align: justify;
    font-size: small;
    font-weight: lighter;
}
.footer-modal {
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/Cloudy_subscription.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.lbl-subscription {
    width: 90%;
    margin: auto;
    font-family: var(--font2);
    font-weight: bolder;
    /* background-color: green; */
}
.npt-subscription {
    width: 90%;
    height: 30px;
    margin: 0px auto 10px auto;
    border: none;
    border-bottom: 1px solid var(--color4);
    font-family: var(--font4);
}
.npt-subscription:focus {
    outline: none;
}
.modal-btn-subscription {
    width: 40%;
    height: 40px;
    background-color: var(--color5);
    margin: 20px auto 20px auto;
    border: none;
    border-radius: 5px;
    font-family: var(--font2);
    font-weight: bolder;
    font-size: larger;
}
.modal-btn-subscription:hover {
    cursor: pointer;
    background-color: var(--color3);
}

/* ===>>> SCREEN TABLET <<<=== */
@media (min-width: 769px) and (max-width: 1115px) {
    .subscrition-frm {
        width: 50%;
        margin: 200px auto;
    }
}

/* ===>>> SCREEN MOBILE <<<=== */
@media (max-width: 768px) {
    .subscrition-frm {
        width: 90%;
    }
}