.subscrition-frm {
    background-color: var(--color5);
    width: 100%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
}
.fa-circle-xmark {
    position: absolute;
    font-size: x-large;
    top: -10px;
    left: -10px;
    background-color: var(--color5);
    border-radius: 50%;
    color: var(--color1);
}
.fa-circle-xmark:hover {
    cursor: pointer;
    color: var(--color2);
    font-weight: bolder;
}
.header-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 10px auto;
    background-color: var(--color5);
}
.image-header-subscription {
    display: none;
    width: 50%;
}
.title-modal-subscription {
    width: 90%;
    margin: 20px auto;
    font-family: var(--font2);
    font-weight: bolder;
    text-align: center;
}
.subtitle-modal-subscription {
    width: 90%;
    margin: 30px auto 20px auto;
    font-family: var(--font4);
    text-align: justify;
    font-size: small;
    font-weight: lighter;
}
.footer-modal {
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/Cloudy_subscription.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.lbl-subscription {
    width: 90%;
    margin: auto;
    font-family: var(--font2);
    font-weight: bolder;
}
.npt-subscription {
    width: 90%;
    height: 30px;
    margin: 5px auto 10px auto;
    border: none;
    font-family: var(--font4);
    background-color: var(--color3);
    transition: background-color 0.6s ease;
}
.npt-subscription:focus {
    outline: none;
    border-bottom: 1px solid var(--color4);
    background-color: var(--color5);
}
.modal-btn-subscription {
    width: 40%;
    height: 40px;
    background-color: var(--color2);
    margin: 20px auto 40px auto;
    border: none;
    border-radius: 5px;
    font-family: var(--font2);
    font-weight: bolder;
    font-size: larger;
    color: var(--color5);
}
.modal-btn-subscription:hover {
    cursor: pointer;
    background-color: var(--color3);
    color: var(--color4);
    border: 1px solid var(--color4);
}


/* ===>>> SCREEN MOBILE <<<=== */
@media (max-width: 768px) {
    .subscrition-frm {
        width: 100%;
    }
    .image-header-subscription {
        display: block;
    }
    .title-modal-subscription  {
        margin: 10px auto 5px auto;
    }
    .subtitle-modal-subscription {
        margin: 10px auto;
    }
    .footer-modal {
        margin-top: 20px;
    }
}