.container-training {
    background-image: url(../../images/patter_services.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.title-training {
    font-family: var(--font1);
    text-align: center;
}

/* ===>>> SCREEN MOBILE/TABLET <<<=== */
